* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    color: white;
    background-color: #1b1b32;
    font-family: sans-serif;
    margin-top: 40px;
}

.App_task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
